.section4{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    min-height: 808px;
    min-width: 1440px;
}
.section4-div1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.section4-div2 , .section4-div3 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 50%;
}
.section4-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section4-div2-card1-img1 , .section4-div3-card1-img1{
    min-height: 114px;
    min-width: 115px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.section4-card > p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}