

.section2 {
    width: 100%;
    max-width: 1440px;
    height: 563px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    border: 1px solid #D6D6D6;
    background-color: #b3b3b3; 
}

.section2 h2 {
    font-family: sans-serif;
    font-size: 48px;
    margin-bottom: 30px;
    color: #000;
}

.video-placeholder {
    width: 800px;           
    height: 450px;          
    background-color: #ffffff; 
    border: 1px solid #999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;       
}


.video-placeholder::before, 
.video-placeholder::after {
    content: "";
    position: absolute;
    width: 100%;           
    height: 1px;          
    background-color: #dad9d9fd;
}


.video-placeholder::before { 
    transform: rotate(29deg); 
}


.video-placeholder::after { 
    transform: rotate(-29deg); 
}